.passwords_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_header h2{ 
        font-weight: 900;
        font-size: 2em;
    }

    &_item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.passwords_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
    overflow-x: hidden;
    overflow-y: scroll;

    &_item{
        display: flex;
        justify-content: baseline;
        align-items: center;
        flex-direction: row;
        margin: 5px;

        &_source{
            margin-right: 20px;
        }

        &_password{
            margin-left: 20px;
        }
    }
}

.passwords_list_item_name_source{
    margin-right: 10px;
    font-weight: 900;
}

.passwords_list_item_name_password{
    margin-left: 10px;
    font-weight: 900;
}