.passwords_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_header h2{ 
        font-weight: 900;
        font-size: 2em;
    }

    &_item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.passwords_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 800px;
    overflow-y: auto;

    &_item{
        display: flex;
        justify-content: baseline;
        align-items: baseline;
        flex-direction: row;
        margin: 5px;

        &_source{
            margin-right: 20px;
        }

        &_password{
            margin-left: 20px;
        }

        &_delete{
            margin-left: 20px;
            button{
                border: 1px solid red;
                color: red;

                &:hover{
                    background-color: red;
                    color: white;
                    border: 1px solid white;
                }
            }
        }
    }
}

.passwords_list_item_name_source{
    text-align: center;
    margin-right: 0px;
    font-weight: 900;
}

.passwords_list_item_name_password{
    text-align: center;
    margin-left: 60px;
    font-weight: 900;
}