.alert_custom {
    padding: 10px 10px!important;
    margin: auto 5px!important;

    button {
        padding: 0!important;
        width: 16px!important;
        height: 16px!important;
        font-size: 0.5em!important;
    }
}